*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F0EA;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 100px;
    width: 100%;
    padding: 0 30px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 50px;
    height: 50px;
    color: #c89b3c;
}
.logo h2{
    color: #E8E0D0;
    font-size: 18px;
}
.logo span{
    color: #D4AF37;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    position: relative;
    transition: .4s;
}
.shop{
    display: flex;
    gap: 20px;
}
.shop i{
    font-size: 20px;
    color: white;
}
nav ul li a::after{
   content:" ";
   position: absolute;
   left: 0;
   bottom: -6px;
   width: 0%;
   height: 3px;
   background: #D4AF37;
   transition: .4s;
}

nav ul li a:hover{
    color: #D4AF37;
    cursor: pointer;
}
nav ul li a:hover::after{
    width: 100%;
}
.home{
    width: 100%;
    display: inline-block;
    position: relative;
}
.image img{
    width: 100%;
    height: 600px;
    display: block;

}
.perfumery img{
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.perfumery img:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 25%;
    align-items: left;
}
.text h6{
    color: #D4AF37;
    font-size: 30px;
}
.text h1{
    color: white;
    font-size: 60px;
}
.text span{
    color: #C89B3C;
    font-size: 60px;
}
.line-1{
    height: 3px;
    width: 100px;
    background: #D4AF37;
    border-radius: 4px;
    margin-top: 40px;
}
.text p{
    color: white;
    font-size: 25px;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.perfumery img{
    height: 400px;
    width: 500px;
    border-radius: 20px;
}
.story h2{
    color: #c89b3c;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}
.story h3{
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
}
.line-2{
    height: 2px;
    width: 200px;
    border: none;
    background: #D4AF37;
    margin-top: 20px;
}
.story p{
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.story h4{
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.make{
    height: 300px;
    width: 100%;
    background: black;
    margin-top: 30px;
}
.us{
    display: flex;
    justify-content: center;
}
.us h2{
    color: #C89B3C;
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 30px;
}
.wh{
    height: 1px;
    width: 50px;
    border: none;
    background: #C89B3C;
    margin-top: 40px;
    margin-right: 20px;
}
.at{
    height: 1px;
    width: 50px;
    border: none;
    background: #C89B3C;
    margin-top: 40px;
    margin-left: 20px;
}
.special{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.features{
    display: grid;
    align-items: center;
    text-align: center;
}
.features i{
    font-size: 45px;
    color: #c89b3c;
    border-radius: 50%;
    border: 1px solid #C89B3C;
    background: transparent;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-left: 90px;
}
.features h2{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 10px;
}
.features p{
    color: #F5F0EA;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 15px;
}
.line-3{
    height: 150px;
    width: 1px;
    background-color: gray;
    border: none;
    margin-top: 25px;
}
.custom{
    width: 100%;
    height: 200px;
    background: transparent;
}
.rating{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.future{
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}
.future i{
    font-size: 60px;
    color: #c89b3c;
}
.future h2{
    color: black;
    font-size: 40px;
    margin-top: 10px;
}
.future p{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
}
.line-5{
    height: 150px;
    width: 1px;
    background-color: gray;
    border: none;
    margin-top: 25px;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 300px;
    gap: 70px;
    background: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.newsletter{
    margin-top: 50px;
    text-align: left;
    margin-left: 250px;
}
.newsletter h2{
    color: white;
    font-size: 18px;
}
.newsletter span{
    color: #D4AF37;
    font-size: 30px;
}
.newsletter p{
    color: #F2E3E6;
    font-size: 18px;
    margin-top: 20px;
}

.social i{
    width:50px;
    height:50px;
    border:1px solid #555;
    font-size: 25px;
    border-radius:50%;
    text-align:center;
    align-items: center;
    line-height:45px;
    color:#fff;
    margin-right:10px;
    margin-top:20px;
}

.social i:hover{
    background: #C89B3C;
}
.quick{
  margin-top: 50px;
  text-align: left;
}
.quick h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.quick ul li a{
   color: gray;
   display: grid;
   grid-template-columns: repeat(4fr);
   font-size: 18px;
   font-family: sans-serif;
   cursor: pointer;
   margin-top: 20px;
}
.quick ul li a:hover{
    color: white;
}
.services{
  margin-top: 50px;
  text-align: left;
}
.services h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif
}
.story a{
    color: blue;
    text-decoration: blue;
    cursor: pointer;
}
.services ul li a{
   color: gray;
   display: grid;
   grid-template-columns: repeat(4fr);
   font-size: 18px;
   font-family: sans-serif;
   cursor: pointer;
   margin-top: 20px;
}
.services ul li a:hover{
    color: white;
}
.subscribe{
    margin-top: 50px;
    align-items: left;
}
.subscribe h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.subscribe p{
    color: #F2E3E6;
    font-size: 18px;
    margin-top: 15px;
}
.subscribe input{
    width: 51%;
    padding: 18px 20px;
    background: transparent;
    color: #F5F0EA;
    font-size: 19px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-top: 10px;
}
.btn-4{
    background-color: #D4AF37;
    align-items: center;
    padding: 15px 95px;
    border: transparent;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.line-4{
    height: 200px;
    width: 1px;
    border: none;
    background: white;
    margin-top: 50px;
}
footer{
    background-color: black;
    font-size: 25px;
    color: #F2E3E6;
    height: 80px;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

@media (max-width:767px){

    nav{
        flex-direction:column;
        height:auto;
        padding:15px;
        gap:15px;
    }

    .logo{
        flex-direction:column;
        text-align:center;
    }

    .logo span{
        font-size:22px;
    }

    nav ul{
        flex-direction:column;
        gap:12px;
        text-align:center;
    }

    .image img{
        height:550px;
        object-fit:cover;
    }

    .text{
        left:50%;
        top:50%;
        width:92%;
        text-align:center;
    }

    .text h6{
        font-size:16px;
    }

    .text h1,
    .text span{
        font-size:32px;
        line-height:40px;
    }

    .line-1{
        margin:15px auto;
    }

    .text p{
        font-size:14px;
        line-height:22px;
    }

    .container{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .perfumery img{
        width:90%;
        height:auto;
        margin-left:0;
    }

    .story h2{
        font-size:18px;
    }

    .story h3{
        font-size:24px;
    }

    .line-2{
        width:100px;
        margin:15px auto;
    }

    .story p,
    .story h4{
        font-size:15px;
        line-height:24px;
    }

    .make{
        height:auto;
        padding:30px 0;
    }

    .wh,
    .at{
        display:none;
    }

    .us h2{
        margin-left:0;
        text-align:center;
        font-size:20px;
    }

    .special{
        flex-direction:column;
        gap:25px;
    }

    .features i{
        margin-left: 40%;
        border: none;
        margin-bottom: 30px;
    }

    .line-3{
        display:none;
    }

    .custom{
        height:auto;
        padding:30px 0;
    }

    .rating{
        flex-direction:column;
        gap:25px;
    }

    .line-5{
        display:none;
    }

    .links{
        flex-direction:column;
        height:auto;
        padding:30px 20px;
        gap:30px;
    }

    .newsletter,
    .quick,
    .services,
    .subscribe{
        margin:0;
        text-align:center;
    }

    .line-4{
        display:none;
    }

    .subscribe input{
        width:100%;
    }

    .btn-4{
        width:100%;
        padding:15px;
    }

    footer{
        font-size:15px;
        text-align:center;
        padding:15px;
        height:auto;
    }
}