*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F0EA;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 100px;
    width: 100%;
    padding: 0 30px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 50px;
    height: 50px;
    color: #c89b3c;
}
.logo h2{
    color: #E8E0D0;
    font-size: 18px;
}
.logo span{
    color: #D4AF37;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    position: relative;
    transition: .4s;
}
.shop{
    display: flex;
    gap: 20px;
}
.shop i{
    font-size: 20px;
    color: white;
}
nav ul li a::after{
   content:" ";
   position: absolute;
   left: 0;
   bottom: -6px;
   width: 0%;
   height: 3px;
   background: #D4AF37;
   transition: .4s;
}

nav ul li a:hover{
    color: #D4AF37;
    cursor: pointer;
}
nav ul li a:hover::after{
    width: 100%;
}
.home{
    width: 100%;
    display: inline-block;
    position: relative;
}
.image img{
    width: 100%;
    height: 500px;
    display: block;
}
.text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 25%;
    align-items: left;
}
.text h6{
    color: #D4AF37;
    font-size: 30px;
}
.text h1{
    color: white;
    font-size: 90px;
}
.text span{
    color: white;
    margin-left: 20px;
    font-size: 90px;
}
.line-1{
    height: 3px;
    width: 100px;
    background: #D4AF37;
    border-radius: 4px;
    margin-top: 40px;
}
.text p{
    color: white;
    font-size: 25px;
    margin-top: 30px;
}
.security{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid gray;
    height: 200px;
    background: transparent;
    position: relative;
}
.future{
    display: flex;
    align-items: center;
    gap: 15px;
}
.future i{
    font-size: 60px;
     color: #c89b3c;
}
.future h2{
    color: black;
    font-size: 20px;
}
.future p{
    color: black;
    font-size: 18px;
}
.line-5{
    height: 100px;
    width: 1px;
    border: none;
    background: gray;
    margin-top: 50px;
}
.showing{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.of{
  margin-left: 335px;
  margin-top: 20px;
}
.of h6{
    font-size: 25px;
    font-family: sans-serif;
}
.search-box input{
    width: 250px;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
    margin-right: 335px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}
.box{
    height: 300px;
    width: 250px;
    border-radius: 6px;
    background: #F2E3E6;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.box img{
    width: 250px;
}
.price{
    text-align: center;
}
.price h2{
   color: #000000;
   font-size: 23px;
   margin-top: 10px;
}
.price h3{
    color: #C89B3C;
    font-size: 25px;
    margin-top: 10px;
}
.btn-3{
    background: black;
    color: #c89b3c;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
    padding: 15px 35px;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid black;
}
.secure{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background: #000000;
}
.features{
    display: flex;
    align-items: center;
    gap: 15px;
}
.features i{
    font-size: 60px;
     color: #c89b3c;
}
.features h2{
    color: white;
    font-size: 20px;
}
.features p{
    color: #E8E0D0;
    font-size: 18px;
}
.line-3{
    height: 100px;
    width: 1px;
    border: none;
    background: white;
    margin-top: 50px;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 300px;
    gap: 70px;
    background: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.newsletter{
    margin-top: 50px;
    text-align: left;
    margin-left: 250px;
}
.newsletter h2{
    color: white;
    font-size: 18px;
}
.newsletter span{
    color: #D4AF37;
    font-size: 30px;
}
.newsletter p{
    color: #F2E3E6;
    font-size: 18px;
    margin-top: 20px;
}

.social i{
    width:50px;
    height:50px;
    border:1px solid #555;
    font-size: 25px;
    border-radius:50%;
    text-align:center;
    align-items: center;
    line-height:45px;
    color:#fff;
    margin-right:10px;
    margin-top:20px;
}

.social i:hover{
    background: #C89B3C;
}
.quick{
  margin-top: 50px;
  text-align: left;
}
.quick h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.quick ul li a{
   color: gray;
   display: grid;
   grid-template-columns: repeat(4fr);
   font-size: 18px;
   font-family: sans-serif;
   cursor: pointer;
   margin-top: 20px;
}
.quick ul li a:hover{
    color: white;
}
.services{
  margin-top: 50px;
  text-align: left;
}
.services h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif
}
.services ul li a{
   color: gray;
   display: grid;
   grid-template-columns: repeat(4fr);
   font-size: 18px;
   font-family: sans-serif;
   cursor: pointer;
   margin-top: 20px;
}
.services ul li a:hover{
    color: white;
}
.subscribe{
    margin-top: 50px;
    align-items: left;
}
.subscribe h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.subscribe p{
    color: #F2E3E6;
    font-size: 18px;
    margin-top: 15px;
}
.subscribe input{
    width: 51%;
    padding: 18px 20px;
    background: transparent;
    color: #F5F0EA;
    font-size: 19px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-top: 10px;
}
.btn-4{
    background-color: #D4AF37;
    align-items: center;
    padding: 15px 95px;
    border: transparent;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.line-4{
    height: 200px;
    width: 1px;
    border: none;
    background: white;
    margin-top: 50px;
}
footer{
    background-color: black;
    font-size: 25px;
    color: #F2E3E6;
    height: 80px;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}


@media (max-width: 767px){
    nav{
        flex-direction:column;
        height:auto;
        padding:15px;
        gap:15px;
    }

    .logo{
        flex-direction:column;
        text-align:center;
    }

    .logo span{
        font-size:22px;
    }

    nav ul{
        flex-direction:column;
        gap:12px;
        text-align:center;
    }

    .image img{
        height: 400px;
        object-fit: cover;
    }

    .text{
        left: 50%;
        top: 50%;
        width: 90%;
        text-align: center;
    }

    .text h6{
        font-size: 16px;
    }

    .text h1,
    .text span{
        font-size: 35px;
        line-height: 50px;
    }

    .line-1{
        margin: 15px auto;
    }

    .text p{
        font-size: 15px;
        line-height: 24px;
    }

    .security{
        flex-direction: column;
        height: auto;
        padding: 30px 0;
        gap: 25px;
    }

    .future{
        flex-direction: column;
        text-align: center;
    }

    .line-5{
        display: none;
    }

    .showing{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .of{
        margin-left: 0;
    }

    .of h6{
        font-size: 18px;
    }

    .select{
        width: 90%;
        max-width: 250px;
        margin-right: 0;
        height: 50px;
    }
    .select input{
        width: 100%;
        font-size: 16px;
    }
    .select p{
        margin-bottom: 3px;
    }

    .container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 100px;
    }

    .box{
        width: 280px;
    }

    .box img{
        width: 100%;
        margin-top: -25px;
    }

    .secure{
        flex-direction: column;
        height: auto;
        padding: 30px 0;
        gap: 25px;
    }

    .features{
        flex-direction: column;
        text-align: center;
    }

    .line-3{
        display: none;
    }

    .links{
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
        gap: 30px;
    }

    .newsletter,
    .quick,
    .services,
    .subscribe{
        margin: 0;
        text-align: center;
    }

    .line-4{
        display: none;
    }

    .subscribe input{
        width: 100%;
    }

    .btn-4{
        width: 100%;
        padding: 15px;
    }

    footer{
        font-size: 15px;
        text-align: center;
        padding: 15px;
        height: auto;
    }
}